{{ define "main" }}
{{ partial "page-header" . }}


<section class="section">
  <div class="container">
    <div class="mx-5 p-5">      
      <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Our team for your success</h1>
      <p class="mt-6 text-xl leading-8 text-gray-700">
        Our team represents a fusion of diverse talents and a shared passion for data innovation.
        Rooted in extensive experience and driven by a forward-thinking approach, we excel at transforming complex data
        challenges into scalable,
        efficient solutions. Our strength lies in our collaborative ethos, where each project is an opportunity to blend
        technical prowess with strategic insight,
        ensuring that our clients’ needs are met with both precision and creativity. From engineering robust data
        architectures to tailoring bespoke integration strategies, we are committed to unlocking the full potential of
        data for businesses, setting new benchmarks in data management and analysis."

      </p>      
    </div>

  </div>
  <div class="container">
    <div class="row">
      {{ range .RegularPages }}
      <div class="md:col-6 lg:col-4 mb-14">
        {{ partial "components/author-card" . }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}